// Colors
$primaryColor: #b3f1d3;
$secondaryColor: #9292FF;
$bgColor: #F8FFFC;
// $bgColor: #CDE5D7; //#14453D; //#3D7068
$secondaryBgColor: #F5F5FF;
// $secondaryBgColor: #F8FFFC;
$textColor: #363636;

// Spacing
$spacingXs: 5px;
$spacingSm: 10px;
$spacingMd: 20px;
$spacingLg: 40px;
$spacingXl: 60px;

// Fonts
$bodyFont: 'Montserrat', sans-serif;
$fontSizeSm: 12px;
$fontSizeMd: 16px;
$fontSizeLg: 20px;
$fontSizeXl: 32px;
$fontSize2xl: 40px;


// Screen sizes
$mobileWidth: 600px;
$tabletWidth: 900px;
$desktopWidth: 1200px;
